<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904572333606-eldhu4jaak75m66moseveeu9gsc0hgs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904572333606-eldhu4jaak75m66moseveeu9gsc0hgs7</string>
	<key>API_KEY</key>
	<string>AIzaSyAhAP2Vs81g2kwt0HcixQFnkOkWK7-4gEE</string>
	<key>GCM_SENDER_ID</key>
	<string>904572333606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.nataliabraz.MyMoviesApp</string>
	<key>PROJECT_ID</key>
	<string>my-movies-d8efe</string>
	<key>STORAGE_BUCKET</key>
	<string>my-movies-d8efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904572333606:ios:d6cb979c26abe9d6e3c0e7</string>
	<key>DATABASE_URL</key>
	<string>https://my-movies-d8efe.firebaseio.com</string>
</dict>
</plist>