<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.nataliabraz.MyMoviesiOS</string>
		<string>group.com.nataliabraz</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)br.com.nataliabraz.MyMoviesApp</string>
		<string>$(AppIdentifierPrefix)br.com.nataliabraz.MyMoviesApp.MoviesByGenreWidget</string>
	</array>
</dict>
</plist>
